<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nanchen.rxjava2examples">

    <!-- 申明可能需要的网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主页面，程序入口 -->
        <activity
            android:name=".module.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--操作符-->
        <activity android:name=".module.rxjava2.operators.RxOperatorsActivity">
        </activity>

        <!-- Create -->
        <activity android:name=".module.rxjava2.operators.item.RxCreateActivity">
        </activity>

        <!-- Just -->
        <activity android:name=".module.rxjava2.operators.item.RxJustActivity">
        </activity>

        <!-- Map -->
        <activity android:name=".module.rxjava2.operators.item.RxMapActivity">
        </activity>

        <!-- FlatMap -->
        <activity android:name=".module.rxjava2.operators.item.RxFlatMapActivity">
        </activity>

        <!-- concatMap -->
        <activity android:name=".module.rxjava2.operators.item.RxConcatMapActivity">
        </activity>

        <!-- take -->
        <activity android:name=".module.rxjava2.operators.item.RxTakeActivity">
        </activity>

        <!-- interval -->
        <activity android:name=".module.rxjava2.operators.item.RxIntervalActivity">
        </activity>

        <!-- timer -->
        <activity android:name=".module.rxjava2.operators.item.RxTimerActivity">
        </activity>

        <!-- zip -->
        <activity android:name=".module.rxjava2.operators.item.RxZipActivity">
        </activity>

        <!-- doOnNext -->
        <activity android:name=".module.rxjava2.operators.item.RxDoOnNextActivity">
        </activity>

        <!-- filter -->
        <activity android:name=".module.rxjava2.operators.item.RxFilterActivity">
        </activity>

        <!-- skip -->
        <activity android:name=".module.rxjava2.operators.item.RxSkipActivity">
        </activity>

        <!-- single -->
        <activity android:name=".module.rxjava2.operators.item.RxSingleActivity">
        </activity>

        <!-- buffer -->
        <activity android:name=".module.rxjava2.operators.item.RxBufferActivity">
        </activity>

        <!-- distinct -->
        <activity android:name=".module.rxjava2.operators.item.RxDistinctActivity">
        </activity>

        <!-- concat -->
        <activity android:name=".module.rxjava2.operators.item.RxConcatActivity">
        </activity>

        <!-- WebView -->
        <activity android:name=".module.web.WebViewActivity"/>

        <!-- defer -->
        <activity android:name=".module.rxjava2.operators.item.RxDeferActivity"/>

        <!-- reduce -->
        <activity android:name=".module.rxjava2.operators.item.RxReduceActivity"/>

        <!-- debounce -->
        <activity android:name=".module.rxjava2.operators.item.RxDebounceActivity"/>

        <!-- last -->
        <activity android:name=".module.rxjava2.operators.item.RxLastActivity"/>

        <!-- merge -->
        <activity android:name=".module.rxjava2.operators.item.RxMergeActivity"/>

        <!-- scan -->
        <activity android:name=".module.rxjava2.operators.item.RxScanActivity"/>

        <!-- window -->
        <activity android:name=".module.rxjava2.operators.item.RxWindowActivity"/>

        <!-- PublishSubject -->
        <activity android:name=".module.rxjava2.operators.item.RxPublishSubjectActivity"/>

        <!-- AsyncSubject -->
        <activity android:name=".module.rxjava2.operators.item.RxAsyncSubjectActivity"/>

        <!-- BehaviorSubject -->
        <activity android:name=".module.rxjava2.operators.item.RxBehaviorSubjectActivity"/>

        <!-- Completable -->
        <activity android:name=".module.rxjava2.operators.item.RxCompletableActivity"/>

        <!-- Flowable -->
        <activity android:name=".module.rxjava2.operators.item.RxFlowableActivity"/>

        <!--simple networking-->
        <activity android:name=".module.rxjava2.usecases.okHttp.RxNetSingleActivity"/>

        <!--rx-networking-->
        <activity android:name=".module.rxjava2.usecases.fastNetwork.RxNetworkActivity"/>

        <!--多个网络接口数据合并后再更新UI-->
        <activity android:name=".module.rxjava2.usecases.zip.RxCaseZipActivity"/>

        <!--多个网络请求依次依赖-->
        <activity android:name=".module.rxjava2.usecases.flatMap.RxCaseFlatMapActivity"/>
        <activity android:name=".module.rxjava2.usecases.concat.RxCaseConcatActivity"/>
        <activity android:name=".module.rxjava2.usecases.debounce.RxCaseDebounceActivity"/>
        <activity android:name=".module.rxjava2.usecases.interval.RxCaseIntervalActivity"/>
        <activity android:name=".module.rxjava2.Thread.RxThreadActivity"/>

    </application>

</manifest>